footer {
    background-color: #242423;
    color: white;
    padding: 30px;
}
.footer-menu {
    margin: 15px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #383838;
}
.footer-menu ul {
    padding: 0px;
}
.footer-menu li {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
}
/* footer li{
    color: white;
} */
.comodo-badge {
    /* position: absolute; */
    /* left: 80px;
    top: 23px; */
}
footer p {
    color: #c1c1c1;
    margin: 30px 26px 0px 42px;
    display: inline-block;
}
footer .sleek_awards {
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    display: inline-block;
}