<footer>
    <div class="container">
        <div class="row footer-menu">
            <div class="col-md-3">
                <ul>
                    <li>Pricing</li>
                    <li>About Us</li>
                    <li>GST Billing Software</li>
                    <li>GSTR-1 Monthly Return</li>
                    <li>GST Inventory Software</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>Supply to SEZ in GST</li>
                    <li>Online Billing Advantages</li>
                    <li>GST Bill of Supply</li>
                    <li>How to File GSTR-1</li>
                    <li>All about Kerala Flood Cess</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>GST Info</li>
                    <li>GST Invoice Format</li>
                    <li>GST Credit Note</li>
                    <li>GST Export Invoice</li>
                    <li>GST Receipt Voucher</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>FAQ</li>
                    <li>Support</li>
                    <li>Security Encryption</li>
                    <li>Contact</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="cod-md-12 text-center">
                <div>
                    <div class="comodo-badge">
                        <img src="/assets/images/comodo-badge.png">
                        <p>
                            Copyright © 2020 SleekBill.in | Intelligent IT EULA +  Terms & Conditions Privacy Policy<br>
                            Sleek Bill Online is designed to be the best online billing and invoice software for small businesses.
                        </p>
                        <div class="sleek_awards">
                            <img src="/assets/images/expert_choice_white_small.png" width="80px">
                            <img src="/assets/images/expostional_customer_white_small.png" width="80px">
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>