<div id="content">
    <h2 class="page-title">Log In to Sleek Bill Online</h2>
    <div class="auth-form signup-form">
        <div>
            <button id="btn-google-signin" class="btn" data-ember-action="" data-ember-action-462="462">Sign Up with Google</button>
            <h3>or Complete the Form:</h3>
            <form>
                <fieldset>
                    <div id="ember3" class="field input-field field-required ember-view">
                        <label class="element3-email">    
                            <input data-lpignore="true" type="email" required=""  placeholder="Email*" autofocus="" id="element3-email" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <div id="ember4" class="field input-field field-required ember-view">
                        <label class="element4-email">    
                            <input data-lpignore="true" type="password" required=""  placeholder="Password*" autofocus="" id="element4-password" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <div class="buttons">
                    <button type="submit" class="btn btn-action">Sign in</button>
                </div>
                <div class="agreement">
                    Forgot your password?
                </div>
            </form>
        </div>        
    </div>
    <div class="cta">
        No account ?<span class="signup" routerLink="/signup">Sign up</span>
    </div>

</div>  