
<div id="content">
    <h3 class="page-title">Great! You're just a few steps away from unlimited invoices.</h3>
    <div class="steps">
        <ul>
            <li class="active">
                <span>1. SIGN UP</span>
            </li>
            <li>
                <span>2. BUSINESS INFO</span>
            </li>
            <li>
                <span>3. START !</span>
            </li>
        </ul>

    </div>
    <div class="auth-form signup-form">
        <div>
            <button id="btn-google-signin" class="btn" data-ember-action="" data-ember-action-462="462">Sign Up with Google</button>
            <h3>or Complete the Form:</h3>
            <form>
                <fieldset>
                    <div id="ember1" class="field input-field field-required ember-view">
                        <label class="element473-firstName">    
                            <input data-lpignore="true" type="text" required=""  placeholder="First name*" autofocus="" id="element1-firstName" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <div id="ember2" class="field input-field field-required ember-view">
                        <label class="element2-lastName">    
                            <input data-lpignore="true" type="text" required=""  placeholder="Last name*" autofocus="" id="element2-lastName" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <div id="ember3" class="field input-field field-required ember-view">
                        <label class="element3-email">    
                            <input data-lpignore="true" type="email" required=""  placeholder="Email*" autofocus="" id="element3-email" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <div id="ember4" class="field input-field field-required ember-view">
                        <label class="element4-email">    
                            <input data-lpignore="true" type="password" required=""  placeholder="Password*" autofocus="" id="element4-password" class="ember-text-field ember-view">
                        </label>
                    </div>
                </fieldset>
                <div class="buttons">
                    <button type="submit" class="btn btn-action">Proceed</button>
                </div>
                <div class="agreement">
                    By proceding, you agree to the Terms of Service and Privacy Policy  
                </div>
            </form>
        </div>        
    </div>
    <div class="cta">
        Already a member ?<span class="login" routerLink="/login">Login</span>
    </div>
</div>
