<section id="header-section">
    <div>
        <div class="header">        
                <div class="container image-alignment">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8 text-aligning">
                               <h1>
                                    Online Invoice software designed 
                                    <br>for the modern business.
                                </h1>
                                <p>Make beautiful invoices that your clients will remember.</p>
                                <p>It's time for an upgrade!</p>
                                <div>
                                    <a href="" class="primary-cta"  routerLink="/signup">START INVOICING TODAY</a>
                                </div>
                                <div class="small-text cta-disclaimer">*Free & Easy - no hidden fees.</div>
                            </div>
                            <div class="col-md-4">
                                <div class="banner-section">
                                    <div>
                                        <img src="/assets/images/hero-image.png" >
                                    </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>                                    
    </div>

    <div class="seen-in-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="advertising-section">
                        <div class="small-text">As seen in:</div>
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/yahoo.png">
                            </a>
                        </div>   
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/softwaresuggest.png">
                            </a>
                        </div>
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/findthebest.png">
                            </a>
                        </div>
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/getapp.png">
                            </a>
                        </div>
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/marketwatch.png">
                            </a>
                        </div>
                        <div class="advertising-margin">
                            <a>
                                <img src="/assets/images/ask.png">
                            </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section id="statment-section">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-main">Easy and secure online invoicing software for:</h2>
                    <h3 class="text-sub">Small Businesses, Freelancers, Accountants</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="invoice-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>All invoicing related documents</h2>
                <h3>Get our Billing Software and take advantage of our documents and features specially designed for Indian businesses.</h3>
            </div>
        </div>
        <div class="row main-features">
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-1.png">
                    <p class="main-feature-title">Proforma invoice maker</p>
                    <p class="main-feature-description">
                        Commit to providing your best products or services to your buyer, with the proforma invoice option in Sleek Bill.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-2.png">
                    <p class="main-feature-title">Quotation Software</p>
                    <p class="main-feature-description">
                        Don't waste a business opportunity, create a quote for your clients straight from your tablet, even when you're not in the office.
                    </p>
                </div>                
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-3.png">
                    <p class="main-feature-title">GST tax invoice</p>
                    <p class="main-feature-description">
                        Sleek Bill Online helps you issue GST invoices with all the accurate fields for claiming tax credit. 
                    </p>
                </div>                
            </div>
        </div>

        <div class="row main-features">
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-4.png">
                    <p class="main-feature-title">Composition scheme support</p>
                    <p class="main-feature-description">
                        Sleek Bill Online now has has full support for billing, for any company that falls under the composition scheme. 
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-5.png">
                    <p class="main-feature-title">Delivery Challan Software</p>
                    <p class="main-feature-description">
                        Create your delivery note/challan easier than ever with our custom template and quick shortcuts.
                    </p>
                </div>                
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/feature-6.png">
                    <p class="main-feature-title">GST integrated & compliant</p>
                    <p class="main-feature-description">
                        Sleek Bill Online is the best GST billing software, with support for GSTIN, GST tax invoice, bill of supply, HSN columns, GST tax rates and more!
                    </p>
                </div>                
            </div>
        </div>

        <div class="row main-features">
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/purchase_orders.png">
                    <p class="main-feature-title">Purchase orders, Bills and Expenses</p>
                    <p class="main-feature-description">
                        Sleek Bill helps you generates reports such as stock in hand, sales by product/service, cost of goods sold or In&Out report.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/inventory_rep.png">
                    <p class="main-feature-title">Generate Inventory Reports</p>
                    <p class="main-feature-description">
                        Sleek Bill helps you generates reports such as stock in hand, sales by product/service, cost of goods sold or In&Out report.
                    </p>
                </div>                
            </div>
            <div class="col-md-4 text-center">
                <div class="main-feature-item">
                    <img src="/assets/images/debit__credit_note.png">
                    <p class="main-feature-title">GST Credit / Debit Note</p>
                    <p class="main-feature-description">
                        Issue credit notes against any invoice whenever needed and easily use credits on your invoices.  Debit notes feature will become available soon.
                    </p>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="business">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Run your business from anywhere. </h2>
                <p>No matter where you are, be on top of your billing data.</p>
                <a href="" class="primary-cta" routerLink="/signup">START INVOICING TODAY</a>
                <div class="sleek-awards">
                    <img src="/assets/images/expert_choice_white_small.png">
                    <img src="/assets/images/expostional_customer_white_small.png">
                </div>
                <p class="small-text cta-disclaimer">*Free & Easy - no hidden fees.</p>
            </div>
        </div>
    </div>
</section>

<section id="testinomial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>What our customers think of Sleek Bill:</h2>
            </div>
        </div>
        <div class="row testinomial">
            <div class="col-md-4 text-center">
                <div class="testimonial-item">
                    <div class="quote-icon">
                        <img src="/assets/images/quote-icon.png">                        
                    </div>
                    <img src="/assets/images/edunovate.png">
                    <p class="testimonial-content">
                        I've been using Sleek Bill for 4 months now and I love it. It is very User friendly and easy to setup. It's a complete software where you can easily create invoices, quotations etc. The customer support was very good and helpful. The value of this program is one of the best around.
                    </p>
                    <p class="testimonial-author">
                        <span class="author">Surbhi Saxena</span><br>
                        <span class="position">Edunovate</span>
                    </p>
                </div>

            </div>
            <div class="col-md-4 text-center">
                <div class="testimonial-item">
                    <div class="quote-icon">
                        <img src="/assets/images/quote-icon.png">                        
                    </div>
                    <img src="/assets/images/efficient.png">
                    <p class="testimonial-content">
                        Surprisingly, it's very easy to use. This is a user-friendly software for any type of business. After using Sleek Bill our work is going very smoothly. We are very satisfied with this product!
                    </p>
                    <p class="testimonial-author">
                        <span class="author">Shivaji Kesare</span><br>
                        <span class="position">Efficient Corporation</span>
                    </p>
                </div>

            </div>
            <div class="col-md-4 text-center">
                <div class="testimonial-item">
                    <div class="quote-icon">
                        <img src="/assets/images/quote-icon.png">                        
                    </div>
                    <img src="/assets/images/vyoma.png">
                    <p class="testimonial-content">
                        Sleek Bill is very user-friendly. Saves time and data can easily be viewed whenever needed. The PDF conversion of invoices feature is good. Overall, the software is very good for any small business. I would recommend this to others!!
                    </p>
                    <p class="testimonial-author">
                        <span class="author">Jagadeesh SV</span><br>
                        <span class="position">Vyoma Excel</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="business-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>How Sleek Bill Online can improve your business: </h2>
                <div class="feature-image">
                    <img src="assets/images/save.svg">
                </div>
                <div class="feature-content">
                    <p class="feature-title">Accurate GST templates</p>
                    <p class="feature-description">Use Sleek Bill Online's GST templates for error free invoices, to make sure you have no problems with compliance or reconciliation. </p>
                </div>
                <div class="feature-image">
                    <img src="assets/images/fast-money.svg">
                </div>
                <div class="feature-content">
                    <p class="feature-title">GST rate calculation</p>
                    <p class="feature-description">CGST & SGST or IGST are automatically calculated for you in Sleek Bill Online. You just need to add the corresponding tax rate and the breakdown is done for you, easy as pie. </p>
                </div>
                <div class="feature-image">
                    <img src="assets/images/anywhere.svg">
                </div>
                <div class="feature-content">
                    <p class="feature-title">Access your business from anywhere</p>
                    <p class="feature-description">With a cloud based GST billing software, you can access all your documents and create invoices on the go. It works on any operating system, computer or tablet, and it's completely secure!</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="screen-mockup">
                    <img src="/assets/images/second-screen.png">
                </div>
            </div>
        </div>

    </div>
</section>

<section id="about-sleek">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>About Sleek Bill</h2>
                <p>Founded in 2013, Sleek Bill is a startup that has grown to more than 40,000 clients all over India.<br>
                We've put our team's 8+ years experience in developing invoicing software to design Sleek Bill and offer you the best user experience in solving your billing needs. With free support and free updates, this is easily becoming the go-to billing solution for many companies in SE Asia.
                </p>
            </div>
        </div>

    </div>
</section>

<div id="trust-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="trust-list">
                    <li class="text-left">
                        <img src="/assets/images/book.svg">
                        Free training & 24 hours support
                    </li>
                    <li class="text-center">
                        <img src="/assets/images/time.svg">
                        Contact Support at any time
                    </li>
                    <li class="text-right">
                        <img src="/assets/images/security.svg">
                        Serious about Security & Privacy
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<section id="custom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Enjoy your life and grow your business.<br>
                    Let Sleek Bill online take care of your billing.
                </h2>
                <a href="" class="primary-cta" routerLink="/signup" >START INVOICING TODAY</a><br>
                <p class="small-text disclaimer">*Free & Easy - no hidden fees.</p>
            </div>

        </div>
    </div>
</section>